* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgb(0, 149, 255);
    --shadow-color: rgb(177, 177, 177);
    --shadow: 0 0 10px 0 var(--shadow-color);

    --header-height: 60px
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

header {
    height: var(--header-height);
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 16px;
    box-shadow: var(--shadow);
}

header .logo {
    width: var(--header-height);
    height: var(--header-height);
    background-color: blue;
}

header .cart {
    width: var(--header-height);
    height: var(--header-height);
    background-color: green;
}

header .search {
    flex-grow: 1;
    border-radius: 6px;
    height: 25px;
    border: 1px solid black;
    padding: 0 8px;
    background-color: transparent;
    outline: none;
}

header .search:focus {
    border: 1px solid red;
}

main {
    padding: 0 8px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
}

.carousel {
    border: 1px solid blue;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.catalog {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.item {
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
    padding: 8px;
    border-radius: 8px;
    gap: 8px;
    height: 250px;
}

.item .name {
    font-size: 17px;
}

.item .image {
    width: 100%;
    background-color: red;
    border-radius: 8px;
    flex-grow: 1;
}

.item .price {
    font-size: 24px;
    /* width: 80px; */
    flex-grow: 1;
    border: 1px solid green;
}

.item .bottom {
    display: flex;
    align-items: center;
    gap: 8px;
}


.item .button {
    width: 50px;
}

.item .button button {
    width: 100%;
    height: 30px;
    background-color: red;
    color: white;
    border: none;
    outline: none;
    border-radius: 8px;
}