
.content {
  display: flex;flex-direction: column;
  gap: 8px;
}

.container {
  display: flex;
  gap: 4px;
  flex-direction: column;
  height:200px;
  overflow-y: auto;
  position: relative;
  padding-right: 15px;
}

.exp {
  width: 180px;
}

.number {
  width: 50px;
}

.item {
  display: flex;
  gap: 4px;
  align-items: center;
  background-color: #fff;
}

.title {
  flex-grow: 1;
}

.number {
  width: 60px;
}