
.container {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.exp {
  width: 180px;
}

.number {
  width: 50px;
}

.item {
  display: flex;
  gap: 4px;
  align-items: center;
}

.title {
  flex-grow: 1;
}

.number {
  width: 60px;
}