
.container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 24px;
}

.aside {
  width: 400px;
  flex-shrink: 0;
  box-shadow: 0 0 10px 0 rgb(162, 162, 162);
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.actions {
  display: flex;
  gap: 8px;
}

.actions > * {
  flex-grow: 1;
}


.saleContent {

  width: 1600px;
  height: 1200px;
  border: 1px solid red;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  padding: 115px 261px;
  gap: 50px;
  

}


.item {
  display: flex;
  gap: 4px
}

.itemNumber {
  width: 80px;
  flex-shrink: 0;
}


.itemPrice {
  width: 80px;
  flex-shrink: 0;
}


.itemButton {
  flex-shrink: 0;
}

.card {
  width: 313px;
  position: relative;
  border-radius: 6px;
  height: 430px;
  border: 6px solid red;
  border-radius: 8px;
  box-sizing: border-box;
  background: linear-gradient(rgb(190,136,55), rgb(242,234,171));
  /* box-shadow: 0px 0px 10px 0 rgb(144, 144, 144); */
}

.card img {
  width: 100%;
}

.cardPrice {
  position: absolute;
  bottom: -6px;
  right: -15px;
  background: linear-gradient(rgb(188,134,52),rgb(218,185,114),rgb(246,233,181),rgb(244,232,165));

  /* position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(255, 255, 255, 0.804);
  border-radius: 8px;
  font-size: 18px;
  padding: 4px;
  margin-left: 20px;  */
  box-sizing: border-box;
  /* border: 5px solid blue; */
  width: 150px; 
  height: 80px;
  transform: skew(-16deg);
  /* background: #D4D5DA; */
}

.cardHeader {
  position: absolute;
  top: -35px;
  left: 0;
    transform: skew(-16deg);
  background: #D4D5DA;
  border: 5px solid blue;
  width: 310px;
  height: 38px;

}

