
.container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 24px;
}

.aside {
  width: 400px;
  flex-shrink: 0;
  box-shadow: 0 0 10px 0 rgb(162, 162, 162);
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.actions {
  display: flex;
  gap: 8px;
}

.actions > * {
  flex-grow: 1;
}


.saleContent {

  width: 1600px;
  height: 1200px;
  border: 1px solid red;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  padding: 115px 261px;
  gap: 50px;
  

}





