

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filamentList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filamentItem {
  display: flex;
  gap: 8px;
}