

.container {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

.content {
  display: flex;
  padding: 16px;
}

.contentContainer {
  background-color: rgb(255, 255, 255);
}