

.container {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

.content {
  display: flex;
  height: calc(100vh - 50px);
}

.contentContainer {
  background-color: rgb(255, 255, 255);
}